@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

@layer base {
  :root {
    --font-sans: "Poppins", sans-serif;
  }
}

@layer utilities {
  /* Hilangin scrollbar */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE dan Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes popUp {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
.animate-popUp {
  animation: popUp 0.4s ease-out;
}

@keyframes bounceOnce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
.animate-bounceOnce {
  animation: bounceOnce 0.6s ease-out;
}

body {
  max-width: 1440px; 
  margin: 0 auto;
}

