@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

@layer base {
  :root {
    --font-sans: "Poppins", sans-serif;
  }
}

@layer utilities {
  /* Hilangin scrollbar */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE dan Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}


